<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=egde">
    <meta name="viewport" http-equiv="Content-Type">
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon">
    <link href="/stylesheets/style1.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/style1.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/banner.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/watson-bootstrap-dark.css" rel="stylesheet" type="text/css">

    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCL9kCGzu4TIVuotYsHHHhFrCpIlT2y1I4"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

    <!-- for angular chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/angular.chartjs/0.8.8/angular-chart.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/angular.chartjs/0.8.8/angular-chart.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Signika:700,400' rel='stylesheet' type='text/css'>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBicWfhk5LhPT1VyHXH-QUC8itYedrgnOk&libraries=geometry">
    </script>

    <!--d3-->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <style>

        .chart div {
            font: 10px sans-serif;
            background-color: steelblue;
            text-align: right;
            padding: 3px;
            margin: 1px;
            color: white;
        }
        .barchart div {
            font: 10px sans-serif;
            background-color: green;
            text-align: right;
            padding: 3px;
            margin: 1px;
            color: white;
        }
    </style>





    <div class="chart">this is a chart123
    </div>
    <div class="barchart">this is a BARchart
    </div>

</head>



<script>
    var data = [4, 8, 15, 16, 23, 42];
    d3.select(".chart")
            .selectAll("div")
            .data(data)
            .enter().append("div")
            .style("width", function(d) { return d * 10 + "px";
                console.log("a");})
            .text(function(d) { console.log(d);
                return d;  });

</script>
<script>
    var data = [{"conversions": 174.0, "time_id": 4268, "cost": 104663.0, "client_id": 11891, "daily_budget": 310000.0, "publisher_campaign_id": 1703513, "revenue": 1242098.0, "campaign_name": "JP_Brand-Search>Brand", "pca": "JP_GGL", "clicks": 1451.0}, {"conversions": 84.0, "time_id": 4268, "cost": 2694.0, "client_id": 11891, "daily_budget": 310000.0, "publisher_campaign_id": 1703514, "revenue": 0.0, "campaign_name": "JP_Brand-Search>Free_Trialware", "pca": "JP_GGL", "clicks": 32.0}, {"conversions": 6.0, "time_id": 4268, "cost": 2891.0, "client_id": 11891, "daily_budget": 310000.0, "publisher_campaign_id": 1703516, "revenue": 31116.0, "campaign_name": "JP_Brand-Search>Products", "pca": "JP_GGL", "clicks": 19.0}, {"conversions": 10.0, "time_id": 4268, "cost": 4358.0, "client_id": 11891, "daily_budget": 310000.0, "publisher_campaign_id": 1703517, "revenue": 40818.0, "campaign_name": "JP_Brand-Search>Products>Mobile Security", "pca": "JP_GGL", "clicks": 64.0}, {"conversions": 12.0, "time_id": 4268, "cost": 1458.0, "client_id": 11891, "daily_budget": 310000.0, "publisher_campaign_id": 1703518, "revenue": 129124.0, "campaign_name": "JP_Brand-Search>Products>N360", "pca": "JP_GGL", "clicks": 51.0}, {"conversions": 2.0, "time_id": 4268, "cost": 2642.0, "client_id": 11891, "daily_budget": 310000.0, "publisher_campaign_id": 1703519, "revenue": 19718.0, "campaign_name": "JP_Brand-Search>Products>NAV", "pca": "JP_GGL", "clicks": 19.0}]
    var svg1 = d3.select("body").append("svg").attr("width", 400).attr("height", 200)
            d3.select(".barchart")
                    .selectAll("div")
            .data(data)
            .enter()
            .append("div")
            .style("width", function (d) { return d.conversions * 100 + "px";
            })
                    .style("height", 10)
                    .attr("class", "chart")
            .text(function (d) {
                console.log(d.campaign_name);
                return d.campaign_name;
            });
</script>


<!--tooltip-->
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
